server:
  port: 9003

spring:
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate.default_schema: infra
      hibernate.format_sql: true
      hibernate.query.escapeCharacter: '\\'
  flyway:
    enabled: true
    schemas: infra
    default-schema: infra
    locations: classpath:db/migration
  profiles:
    active: dev
management:
  endpoints:
    web:
      base-path: /
      exposure:
        include: health
  endpoint:
    health:
      probes:
        enabled: true

app:
  api:
    title: Infra Service API
    description: 인프라 설정
    security:
      enabled: true
  s3:
    bucket: ctrl-s3
    ttlSeconds: 600