server:
  port: 9002

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/db
    username: postgres
    password: postgres
  jpa:
    properties:
      hibernate:
        default_schema: education
        format_sql: true
    hibernate:
      ddl-auto: validate
  flyway:
    enabled: true
    schemas: education
    default-schema: education
    locations: classpath:db/migration

management:
  endpoints:
    web:
      base-path: /
      exposure:
        include: health
  endpoint:
    health:
      probes:
        enabled: true
