spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/db
    username: postgres
    password: postgres
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:8090/realms/ctrlf
app:
  video:
    ai:
      base-url: http://localhost:8000
      token: "" # 내부 호출 토큰 (필요시 설정)
  quiz:
    ai:
      base-url: http://localhost:8000
      token: "" # 내부 호출 토큰 (필요시 설정)
  infra:
    base-url: http://infra-service:9003 # infra-service 베이스 URL
