server:
  port: 9004

spring:
  jpa:
    properties:
      hibernate:
        default_schema: quiz
        format_sql: true
    hibernate:
      ddl-auto: validate
  flyway:
    enabled: true
    schemas: quiz
    default-schema: quiz
    locations: classpath:db/migration
  profiles:
    active: dev
management:
  endpoints:
    web:
      base-path: /
      exposure:
        include: health
  endpoint:
    health:
      probes:
        enabled: true
