server:
  port: 9005

spring:
  jpa:
    properties:
      hibernate:
        default_schema: chat
        format_sql: true
    hibernate:
      ddl-auto: validate

  flyway:
    enabled: true
    schemas: chat
    default-schema: chat
    locations: classpath:db/migration
  profiles:
    active: dev
management:
  endpoints:
    web:
      base-path: /
      exposure:
        include: health
  endpoint:
    health:
      probes:
        enabled: true

app:
  api:
    title: Chat Service API
    description: Chat endpoints with JWT authorize
    security:
      enabled: true

