server:
  port: 9001

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/db
    username: postgres
    password: postgres

  jpa:
    properties:
      hibernate:
        default_schema: chat
        format_sql: true
    hibernate:
      ddl-auto: validate

  flyway:
    enabled: true
    schemas: chat
    default-schema: chat
    locations: classpath:db/migration

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:8090/realms/ctrlf

management:
  endpoints:
    web:
      base-path: /
      exposure:
        include: health
  endpoint:
    health:
      probes:
        enabled: true

ai:
  gateway:
    url: http://localhost:8000

app:
  api:
    title: Chat Service API
    description: Chat endpoints with JWT authorize
    security:
      enabled: true

